body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 65%;
    margin:auto;
    background-color: antiquewhite;
    color: antiquewhite;
}
div {
    background-color: rgb(34, 35, 30);
    padding: 6%;
}
input {
    font-size: 1em;
    background-color: antiquewhite;
}
#post {
    height: 1.7em;
    width: 90%;
}
#formend {
    width: 8%;
    height: 2em;
}