body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 800px;
    margin:auto;
    background-color: antiquewhite;
    color: antiquewhite;
}
div {
    background-color: rgb(34, 35, 30);
    padding: 40px;
    border: dashed rgb(128, 128, 120) 5px;
}
input {
    font-size: 1em;
    background-color: antiquewhite;
}
#post {
    height: 1.7em;
    width: 600px;
}
#formend {
    width: 4em;
    height: 2em;
}
.stars {
    font-size: 0.75em;
    height: 0.5em;
    width: 5em;
    color: rgb(128, 128, 120);
}
#pickuser {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px;
    width: 300px;
    margin: auto;
    background-color:rgb(34, 35, 30);
    border: dashed rgb(128, 128, 120) 4px;
}
#yournewposts section {
    padding: 10px;
    border: solid antiquewhite 2px;
}
h1 {
    text-align: center;
}
a {
    color:antiquewhite;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}