body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50em;
    margin:auto;
    background-color: antiquewhite;
    color: antiquewhite;
}
div {
    background-color: rgb(34, 35, 30);
    padding: 3em;
}
input {
    font-size: 1em;
    background-color: antiquewhite;
}
#post {
    height: 1.7em;
    width: 38em;
}
#formend {
    width: 4em;
    height: 2em;
}